/*-------body---------*/
body {
    background-color: #f8f8f8;
    width: 100%;
}
  /*-------Navigation Style---------*/

    header {
        display: flex;
        justify-content: center;
    width: 100%;
    height: 56px;
    padding: 12px 0px;
  }
  nav {
display: flex;
        justify-content: center;
        width:100%
  }
  .Amber-DiPietro {
    width: 143px;
    height: 32px;
    display: flex;
    padding: 0 880px 0 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #25282b;
  }
    .Home {
    width: 52px;
    height: 28px;
    display: flex;
      margin: 0 50px 0 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .Contact {
    width: 67px;
    height: 28px;
    display: flex;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
    /*-------Hero Space---------*/
   .hero {
    display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: row-reverse;
        padding-top:60px;
   }
    .intro {
    width: 486px;
    height: 408px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    margin: 40px 0px 140px 115px;
    padding-right: 50px;
  }
  .content {
    width: 486px;
    height: 369px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    padding: 0;
  }
     .UIUX-Designer {
    height: 27px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #070055;
  }
  .headerImage {
    width: 766px;
    height: 546.9px;
    display: flex;
    float: right;
    top: 110px;
    margin: 10px 0px 0px 0px;
    object-fit: contain;
  }
    .Title {
    width: 486px;
    height: 140px;
    flex-grow: 0;
    font-family: PlayfairDisplay;
    font-size: 64px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #25282b;
  }
  
  .Title .text-style-1 {
    color: #ffa800;
  }
 
    .introParagraph {
    width: 486px;
    height: 108px;
    font-family: Nunito;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #515151;
  }
  /*-------Buttons---------*/
  .buttons {
    width: 243px;
    height: 43px;
    text-align: center;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    
  }
  .button-primary {
    width: 110px;
    height: 30px;
    text-align: center;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px 24px;
    border-radius: 8px;
    background-color: #070055;
  }
  
  .button-secondary {
    width: 117px;
    height: 28px;
    text-align: center;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px 24px;
    border-radius: 8px;
    border: solid 2px #070055;
  }
    .linkedIn {
    width: 46px;
    height: 30px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 550;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    background-color: #f8f8f8;
    color: #070055;
  }
  .buttonP {
    width: 66px;
    height: 27px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  
 
  /*-------Project---------*/
    .projectSection {
      width: 992px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 50px;
      padding-bottom: 50px;
  
    }
  .projectText {
    width: 181px;
    height: 120px;
    display: flex;
    padding-top: 30px;
    font-family: PlayfairDisplay;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #25282b;
    }
  /*--------project1-----------*/
  .projectSection {
    height: 1200px;
    width: 100%;
    display:flex;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    height: 500px;
    width: 100%;
  }
  .project-nfo1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 450px;
    height: 240px;
    border-radius: 20px 0px 0px 20px;
    padding: 133px 38.9px 132px 50.4px;
    background-color: #fff;
  }
  .yellowRectangle {
    display: flex;
    width: 500px;
    height: 505px;
    border-radius: 0px 20px 20px 0px;
    padding: 0px 20px 0px 20px;
    background-color: rgba(255, 199, 0, 0.38);
  }
  .diyimage1 {
  width: 224px;
  position: absolute;
  height: 432px;
  flex-grow: 0;
  padding: 15px 18px 12px 45px;
  }

  .diyimage2 {
    width: 224px;
    height: 432px;
    flex-grow: 0;
    margin: 50px 0px 36px 40px;
    padding: 13px 0px 12px 180px;
  }
  .mydiyText {
    width: 406.7px;
    height: 259px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    gap: 24px;
    padding: 0;
  }
  .MYDIY {
    height: 60px;
    align-self: stretch;
    flex-grow: 0;
    font-family: PlayfairDisplay;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #25282b;
  }
  .mydiyblocktext {
    height: 135px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #1f1f1f;
  }
  button {
    width: 150px;
    height: 43px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px 24px;
    background-color: #fff;
    border-radius: 24px;
    border: solid 1px #070055;
  }
  .diyButton {
    width: 102px;
    height: 27px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 550;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #070055;
  }
 
  /*------------project2-----------*/
  .project2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: space-between;
    height: 500px;
    width: 100%;
    padding: 60px;
  }
  
  .project-nfo2 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 450px;
    height: 240px;
    border-radius: 0px 20px 20px 0px;
    padding: 133px 38.9px 132px 50.4px;
    background-color: #fff;
  }
  .project2paragraph {
    height: 160px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #1f1f1f;
  }
  .trButton {
    width: 102px;
    height: 27px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 550;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #070055;
  }
  .blueRectangle {
    display: flex;
    float: right;
    width: 500px;
    height: 505px;
    border-radius: 20px 0px 0px 20px;
    padding: 0px 20px 0px 20px;
    background-color: rgba(7, 0, 85, 0.27);
}
.trimage1 {
  width: 378px;
  height: 442px;
  position: absolute;
  padding: 65px 0px 30px 0px;
 
}

  .trimage2 {
    width: 380px;
  height: 342px;
    padding: 0px 40px 40px 120px;
    
  }
 
/*---------project3----------*/
  .project3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  height: 500px;
  width: 100%;
  padding: 0px;
  }
.project-nfo3 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 450px;
    height: 240px;
    border-radius: 20px 0px 0px 20px;
    padding: 133px 38.9px 132px 50.4px;
    background-color: #fff;
  }
  .doeblocktext {
    height: 155px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #1f1f1f;
  }
  .doeButton {
    width: 102px;
    height: 27px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 550;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #070055;
  }
  
  .orangeRectangle {
    display: flex;
    width: 490px;
    height: 505px;
    border-radius: 0px 20px 20px 0px;
    padding: 0px 20px 0px 20px;
    background-color: rgba(185, 66, 18, 0.54);
  }

.doeimage1 {
  width: 368px;
  height: 386px;
  flex-grow: 0;
  position:absolute;
  margin: 119px 10px 10px 10px;
}

.doeimage2 {
  width: 368px;
  height: 374px;
  margin: 0 0 0 140px;
 
}
/*-------------expertise section-------*/

.expertise {
    height: 600px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 550px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    flex-wrap: wrap;
}
    .expertiseHeader {
        width: 100%;
        height: 200px;
        display: flex;
        align-self: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-family: PlayfairDisplay;
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #25282b;
      }
.expertblock {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: space-evenly;
    padding: 0 0 0 100px;
    
    
}

  
/*------------box1------------*/

.box1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0px 50px 30px 0px;
    height: 360px;
    width: 370px;
    padding: 0px;
    border-radius: 20px;
  background-color: #e1e0e0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.grants
{
    position: absolute;
  width: 148px;
  height: 360px;
  flex-grow: 0;
  margin: 0px 0px 0px 115px;
}
.grants2 {
  width: 214px;
  height: 342px;
  flex-grow: 0;
  margin: 15px 162px 0px 0px;
}
/*-----------box2-------------*/

.box2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0px 50px 30px 0px;
    height: 360px;
    width: 370px;
    padding: 0px;
    border-radius: 20px;
  background-color: #333333;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.food1 {
    display: flex;
  width: 153px;
  height: 309px;
  flex-grow: 0;
  border-radius: 10px;
  padding: 25px 15px 0px 0px;
}
.food2 {
  width: 153px;
  height: 309px;
  flex-grow: 0;
  border-radius: 10px;
  padding: 25px 0px 0px 0px;
}

/*------------box3------------*/

.box3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0px 0px 30px 0px;
    height: 360px;
    width: 370px;
    padding: 0px;
    border-radius: 20px;
  background-color: #e1e0e0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);

}

.healthy1 {
  display: flex;
  position: absolute;
  justify-content: center;
  padding: 30px 25px 10px 0px;
  width: 284px;
  height: 284px;
  
} 
.healthy2  {
  width: 275px;
  height: 275px;
  padding: 60px 0px 0px 40px;
  flex-grow: 0;
}

.h3expertise {
  width: 250px;
  height: 29px;
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 50px;
  font-family: Nunito;
  font-size: 19.5px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1f1f1f;;
}
.expertise1p {
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 50px;
  font-family: nunito;
  font-size: 14.6px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1f1f1f;
}

.h3expertise2 {
  width: 250px;
  height: 29px;
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 55px;
  font-family: Nunito;
  font-size: 19.5px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1f1f1f;;
}
.expertise2p {
  width: 260px;
  height: 100px;
  display: flex;
  justify-content: center;
  font-family: nunito;
  margin: 0px 0px 0px 55px;
  font-size: 14.6px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1f1f1f;
}
/*------------social media design----------*/
.socialblue {
  width: 100%;
  height: 500px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin: 80px 0px 80px 0px;
  background-color: rgba(0, 75, 150, 0.15);
  }
  
  .socialHeader {
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: PlayfairDisplay;
  font-size: 38px;
  color: #1f1f1f;
  }

.containerCarousel {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-self: center;
  padding: 0px 80px 180px 0;
  
  perspective: 2000px;
}

.carousel {
  position: absolute;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 60s infinite forwards linear;
}
.carousel__face { 
  position: absolute;
  width: 220px;
  height: 220px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  display: flex;
}



.carousel__face:nth-child(1) {
  background-image: url("Throat.png");
  transform: rotateY(  0deg) translateZ(430px); }
.carousel__face:nth-child(2) { 
  background-image: url("Dream\ Catcher.png");
    transform: rotateY( 40deg) translateZ(430px); }
.carousel__face:nth-child(3) {
  background-image: url("Protection.png");
  transform: rotateY( 80deg) translateZ(430px); }
.carousel__face:nth-child(4) {
  background-image: url("Understand.png");
  transform: rotateY(120deg) translateZ(430px); }
.carousel__face:nth-child(5) { 
  background-image: url("Muladhara.png");
 transform: rotateY(160deg) translateZ(430px); }
.carousel__face:nth-child(6) { 
  background-image: url("Wishes\ &.png");
 transform: rotateY(200deg) translateZ(430px); }
.carousel__face:nth-child(7) { 
  background-image: url("Love\,\ Sex\ &\ Magick.png");
 transform: rotateY(240deg) translateZ(430px); }
.carousel__face:nth-child(8) {
  background-image: url("Banish\ &\ Protect.png");
  transform: rotateY(280deg) translateZ(430px); }
.carousel__face:nth-child(9) {
  background-image: url("Finding.png");
  transform: rotateY(320deg) translateZ(430px); }



@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}


  /*----------Contact Section----------*/
  .contactSection {
    width: 100%;
    height: 369px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 150px 0 250px 0;
  }
 
  .footerHeader {
    width: 425px;
    height: 50px;
    display: flex;
    justify-content: center;
    font-family: PlayfairDisplay;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #25282b;
  }
  .connectP {
    width: 480px;
    height: 54px;
    display: flex;
    float: left;
    flex-grow: 0;
    margin: 0px 0px 31px 210.5px;
    font-family: Nunito;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1f1f1f;
  }
  .contactMe {
    display: flex;
    float: left;
    width: 216px;
    height: 33px;
    flex-grow: 0;
    margin: 80px 81px 17.5px 211px;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.81);
  }
  
  .Contact-Information {
    display: flex;
    width: 216px;
    height: 33px;
    flex-grow: 0;
    margin: 0px 0px 0px 0px;
    font-family: Nunito;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.81);
  }
  form
  {
    float: left;
    width: 400px;
    margin: -400px 0px 0px 750px;
  
  }
  input {
    width: 600px;
    height: 40px;
    flex-grow: 0;
    border-radius: 8px;
    border: solid 1px #c8cbd2;
    background-color: #fff;
  }
  label {
    display: flex;
    width: 400px;
    height: 27px;
    padding: 0 10px 5px 0;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #25282b;
  }
  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    font-family: Nunito;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=send] {
    background-color: #fdc435;
    width: 50px;
    height: 26px;
    margin: 0 0 0 290px;
    font-family: Nunito;
    text-align: center;
    font-weight: 600;
    color: rgb(37, 36, 36);
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    bottom: 140px;
  }
  
    footer {
      display: flex;
      justify-content: center;
      align-items:center;
      align-content: center;
      flex-direction: column;
width: 100%;
height: 100px;
    }
 
  .Line-1 {
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #999;
  }
  .Ambers-Portfolio-2022 {
    width: 350px;
    height: 15px;
    display: flex;
    justify-content: center;
    padding: 15px 0px 0px 0px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #1f1f1f;
  }
  .email {
    width: 121px;
  height: 50px;
  padding-bottom: 10px;
  margin: 32.5px 452px 95px 266px;
  font-family: Nunito;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1f1f1f;
  }
  .location {
    width: 180px;
    height: 27px;
    position: absolute;
    padding: 30px 452px 85px 266px;
    font-family: Nunito;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1f1f1f;
  }
  .phone {
    width: 153px;
    height: 27px;
    position: absolute;
    padding: 90px 452px 85px 266px;
    font-family: Nunito;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1f1f1f;
  }
  .contactIcons {
    margin: -27px 0px 60px 210px;
  }

  .social {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .envelope {
    width: 30px;
  height: 30px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  }
  .linkedinIcon {
    width:30px;
  height: 30px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  }
  .instagramIcon {
    width: 30px;
  height: 30px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  }